<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/calc.css">
</head>

<body>
    <h1>足し算！！</h1>
    <hr>
    user:
    <% if(!user) {%>
        <form id="login_button" action="/auth/discord" method="get">
            <input type="submit" value="ログイン">
        </form>
    <% }else{%>
        <%= user %>
    <% }%>
    <hr>
    <form action="/calc" method="post">
        <label for="name">a:</label>
        <input type="text" id="a" name="a" value="<%= a %>"><br><br>
        <label for="email">b:</label>
        <input type="text" id="b" name="b" value="<%= b %>"><br><br>
        <input type="submit" value="送信">
    </form>
    <%= calc_res %>
</body>

</html>